@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

.btn__primary {
    background-color: #003B94;
    cursor: pointer;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.btn__primary a {
    color: white;
    text-decoration: none;
}

.btn__primary:hover {
    transition: .17s;
    transform: translateY(-4px);
}

.btn__secondary {
    background-color: #ADCEFF;
    cursor: pointer;
    color: #424242;
    font-size: large;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}

.btn__secondary:hover {
    transition: .17s;
    transform: translateY(-4px);
}

.btn__secondary a {
    color: #424242;
    text-decoration: none;
}